
h1{
    text-align: center;
    color:rgb(29, 177, 29);
    font-family: 'Courier New';
}
div h1{
    text-decoration: underline;
    text-align: left;
    color:rgb(29, 177, 29);
    font-family: 'Courier New';
    box-sizing: border-box;
    background-color: rgb(22, 21, 21);
}
body{
    background-color: black;
}
p{
    text-align: left;
    color:green;
}
